<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Results page</title>
  </head>
  <body>

    <p>
       Hi this is the results page :)

       <br>this is where the quiz will live as well as anything else lel
      </p>
  </body>
</html>
